.badge-danger {
    background-color: $brand-danger;
    text-align: center;
    border-radius: 5px 5px 5px 5px;
    padding: 5px;
}

.badge-info {
    background-color: $brand-info;
    text-align: center;
    border-radius: 5px 5px 5px 5px;
    padding: 5px;
}

.badge-default {
    background-color: $background-color;
    text-align: center;
    border-radius: 5px 5px 5px 5px;
    padding: 5px;
}

.badge-success {
    background-color: $brand-success;
    text-align: center;
    border-radius: 5px 5px 5px 5px;
    padding: 5px;
}

.badge-warning {
    background-color: $brand-warning;
    text-align: center;
    border-radius: 5px 5px 5px 5px;
    padding: 5px;
}

.badge-primary {
    background-color: $brand-primary;
    text-align: center;
    border-radius: 5px 5px 5px 5px;
    padding: 5px;
}
