.loupe {
    display: none;
    position: absolute;
    width: 200px;
    height: 200px;
    border: 1px solid black;
    box-shadow: 5px 5px 12px black;
    background: rgba(0, 0, 0, 0.25);
    cursor: crosshair;
    overflow: hidden;
  }
  
  .loupe img {
    position: absolute;
    right: 0;
  }