.welcome-page {
    background-image: url('/img/home_background.png');
    background-color: $background-color;
    background-size: 50%;
}

.title {
    font-family: 'Blenda Script', sans-serif !important;
    text-shadow: 2px 2px #000;
}

.footer {
    background-color: $footer-color;
    color: $text-inverted-color;
    a {
        color: $text-inverted-color;
    }
    a:hover {
        color: $text-inverted-color;
        text-decoration: none;
    }
    a:visited {
        color: $text-inverted-color;
        text-decoration: none;
    }
}

.bg-primary {
    color: $text-inverted-color !important;
    background-color: $brand-primary !important;
}

.bg-info {
    color: $text-inverted-color !important;
    background-color: $brand-info !important;
}

.bg-success {
    color: $text-inverted-color !important;
    background-color: $brand-success !important;
}

.bg-warning {
    color: $text-inverted-color !important;
    background-color: $brand-warning !important;
}

.bg-danger {
    color: $text-inverted-color !important;
    background-color: $brand-danger !important;
}

.btn-primary {
    color: $text-inverted-color !important;
    background-color: $brand-primary !important;
}

.btn-info {
    color: $text-inverted-color !important;
    background-color: $brand-info !important;
}

.btn-success {
    color: $text-inverted-color !important;
    background-color: $brand-success !important;
}

.btn-warning {
    color: $text-inverted-color !important;
    background-color: $brand-warning !important;
}

.btn-danger {
    color: $text-inverted-color !important;
    background-color: $brand-danger !important;
}


.text-primary {
    color: $brand-primary !important;
}

.text-info {
    color: darken($brand-info, 25%) !important;
}

.text-success {
    color: darken($brand-success, 25%) !important;
}

.text-warning {
    color: darken($brand-warning, 25%) !important;
}

.text-danger {
    color: $brand-danger !important;
    opacity: 100% !important;
}

.close.text-danger:hover {
    color: darken($brand-danger, 15%) !important;
    opacity: 100% !important;
}

img.disabled {
    -webkit-filter: grayscale(100%);
   -moz-filter: grayscale(100%);
     -o-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
        filter: grayscale(100%); 
}