a.search-result {
    h1, h2, h3, h4, h5, h6, p {
        color: $text-color !important;
    }
    :hover {
        h1, h2, h3, h4, h5, h6, p {
            color: $text-color !important;
        }
    }
    .panel {
        margin: 0px !important;
    }
}

#searchBarContainer {
    margin-bottom: -3% !important;
}